sudo: required
services:
  - docker

env:
  global:
    - GIT_SHA=$(git rev-parse HEAD)

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_LOGIN" --password-stdin

script:
  - docker build -t "$DOCKER_LOGIN"/"$DOCKER_IMAGE_NAME":"$GIT_SHA" -t "$DOCKER_LOGIN"/"$DOCKER_IMAGE_NAME":latest -f ./Dockerfile .
  - docker push "$DOCKER_LOGIN"/"$DOCKER_IMAGE_NAME":"$GIT_SHA"
  - docker push "$DOCKER_LOGIN"/"$DOCKER_IMAGE_NAME":latest
