version: 2.1
jobs:
  build:
    general:
      branches:
        only:
          - master
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t $DOCKER_USER/$DOCKER_IMAGE:$CIRCLE_SHA1 -t $DOCKER_USER/$DOCKER_IMAGE:latest .
      - run: |
          docker push $DOCKER_USER/$DOCKER_IMAGE:$CIRCLE_SHA1
          docker push $DOCKER_USER/$DOCKER_IMAGE:latest
